[Desktop Entry]
Name=Cheops
Comment=Network viewer and manager
Comment[pl]=Narzêdzie do wizualizacji i zarz±dzania sieciami
Exec=cheops
Terminal=0
Type=Application
