[Desktop Entry]
Name=Cheops
Comment=Network viewer and manager
Comment[pl]=Narzędzie do wizualizacji i zarządzania sieciami
Icon=cheops
Exec=cheops
Terminal=false
Type=Application
# vi: encoding=utf-8
